In [1]:
car = 'MsaatmiazD'
car[0::2]

'Matiz'

In [1]:
txt = "I'am John. I am from London"
txt_words = txt.split()[-1]
print(txt_words)

London

In [ ]:
msg = input("matn kiriting, men uni teskari qilib ko'rsataman: ")
text = msg[::-1]
print(f"teskari yozuv: {text}")

teskari: tamhar idalob

In [21]:
palindrom = input('matn kiriting men uni palindrom ekanligini tekshiraman')
if palindrom ==palindrom[::-1] : print("palindrom")
else : print("palindrom emas")

palindrom

In [23]:
fruits = ['apple', 'banans', 'grapes', 'melon', 'strawberry']
fruit = fruits[2]
print(fruit)

grapes

In [48]:
numbers1 = [1, 2, 3, 4, 5]
numbers2=[6, 7, 8, 9, 10]
numbers1.extend(numbers2)

print(numbers1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
first = numbers1[0]
middle=numbers1[len(numbers1)//2]
last=numbers1[-1]

new_ls=[first, middle, last]

print(new_ls)

[1, 6, 10]

In [60]:
countries = ['london', 'parij', 'manchester', 'barcelona']

if 'parij' in countries : print("parij bu ro'yxatda bor")
else : print("parij bu ro'yxatda yo'q")

parij bu ro'yxatda bor

In [61]:
num = [1,2,3]
nums = num*2
print(nums)

[1, 2, 3, 1, 2, 3]

In [2]:
data = [1,2,3,4,5]
data[0],data[-1] = data[-1],data[0]
print(data)

[5, 2, 3, 4, 1]